.page-header
  %h1 Dashboard
.col-lg-6
  .panel.panel-default
    .panel-heading
      %h3.panel-title Jobs
    .panel-body
.col-lg-6
  .panel.panel-default
    .panel-heading
      %h3.panel-title Jobs Categories
    .panel-body
      %ul
        = render partial: 'category', collection: @categories

